[submodule "experiments/002-aivcs-bootstrap"]
	path = experiments/002-aivcs-bootstrap
	url = https://github.com/JoachimTislov/ai-native-vcs.git
[submodule "experiments/003-refviz-bootstrap"]
	path = experiments/003-refviz-bootstrap
	url = https://github.com/JoachimTislov/RefViz.git
